# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

test/firebaseConfig.ts
src/recaptchaSecretKey.ts
src/sendContactMailAccount.ts
src/websiteEditingFunctions/jwt_rsa_keys.ts

.prettierrc